<h1>Become a Brand Ambassador!</h1>

<h4>6 Key Characteristics of a Successful Brand Ambassador</h4>
<p>Think about the last time a word-of-mouth referral influenced one of your purchasing decisions.
<br/>
<br/>
Maybe a friend shared their love of a subscription service like StitchFix, a co-worker sent you a referral code for free Uber credits, or a neighbor recommended their favorite contractor. Or maybe it was as simple as a friendly suggestion on where to go to dinner. Regardless, you probably acted on the referral, in part, because it came from someone you trusted.
<br/>
<br/>
Now, think about the last time you received a referral and ignored it. What led you to discredit the recommendation? A lack of trust in the person delivering it? The way in which the referral was issued? Generally, when referrals look and feel like generic spam, we tend to tune them out — and rightfully so. In those circumstances, the “referral” feels more like an interruptive ad than an authentic recommendation.
<br/>
<br/>
With that in mind, marketers must ask themselves an important question: Which type of referrals are your brand ambassadors driving for your business?
<br/>
<br/>
If it’s the latter, it’s unlikely your referral marketing program (or any referral software you use to support it) will move the needle. This is why it’s so critical for you to vet and qualify ambassadors — the supporters you’re entrusting to generate referrals — before enlisting them to sing your praises. There’s a science to choosing the right people to represent your brand and, if you manage it properly, you’ll reap the rewards for years to come. If you don’t, it could come back to haunt you.
</p>
<h5><b><em>The Core Traits of a Brand Ambassador</em></b></h5>
<p>So, what does a good brand ambassador look like? How should they act? What should they know? If you’re in the process of assembling an army of passionate brand advocates, here are six key characteristics you should be looking for:</p>
<h6><b>1. Knowledge of (and Appreciation for) Marketing</b></h6>
<p>This isn’t to say your ambassadors and advocates need a marketing degree, but they should have a basic understanding of marketing’s core principles. Specifically, the best ambassadors appreciate the importance of authenticity in modern marketing, and grasp the role that digital marketing and social media play in driving high-quality referrals.</p>
<h6><b>2. An Established Online Presence</b></h6>
<p>This ties back to the first characteristic, but it’s equally important. In order for word-of-mouth marketing to be successful, you need ambassadors to reach as many people as possible, across a variety of channels and platforms. Now, this doesn’t mean an ambassador must have 20,000 Twitter followers or thousands of email contacts to represent your brand. But they should have a well-established online presence and a highly-engaged network.</p>
<h6><b>3. A High Level of Professionalism</b></h6>
<p>While ambassadors won’t be employed by your company, these people will be representing your brand. They’ll be talking about your company, encouraging others to check out your products and services, and influencing how others perceive your business. If someone embarrassed themselves or your brand, you’d never hire them, right? The same standards should be applied to your brand ambassadors.</p>
<h6><b>4. Natural Leadership Skills</b></h6>
<p>Think about the people you look to for recommendations. Sure, they’re knowledgeable experts in a particular space, but you probably seek out their opinions because they also exude confidence and positivity — traits that draw you in and make you want to listen. These are the same types of people you want representing your brand in the marketplace.</p>
<h6><b>5. A Passion for Building and Growing Relationships</b></h6>
<p>Ambassadors are not salespeople heading out to make as many one-time sales as possible. They exist to foster strong, loyal relationships between your customers and your brand. Your ambassadors should not only be passionate about — and intimately familiar with — your products or services, they should also be skilled at making deep connections with others on your behalf.</p>
<h6><b>6. The Ability to Gather Feedback and Provide Innovative Insight</b></h6>
<p>No loyalty program is perfect. Neither is any particular product or service. Inevitably, brand ambassadors will gather feedback based on their experience with your product or services, as well as their conversations with your customers and competitors. This information can provide critical intelligence that helps you improve your referral marketing program (and, more broadly, your business).</p>
